{{#> layouts/default}}
  {{#*inline "content"}}
    {{#> app/partials/carousel id="my-carousel" slideCount=3 indicators=true control=true}}
      {{#> app/partials/carousel-item id="slide-1" classes="app-carousel-bg active"}}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm col-sm-8">
              <h1 class="display-4 text-center py-sm-5">First slide</h1>
            </div>
          </div>
        </div>
      {{/app/partials/carousel-item}}
      {{#> app/partials/carousel-item id="slide-2" classes="app-carousel-bg"}}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm col-sm-8">
              <h1 class="display-4 text-center py-sm-5">Second slide</h1>
            </div>
          </div>
        </div>
      {{/app/partials/carousel-item}}
      {{#> app/partials/carousel-item id="slide-3" classes="app-carousel-bg"}}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm col-sm-8">
              <h1 class="display-4 text-center py-sm-5">Third slide</h1>
            </div>
          </div>
        </div>
      {{/app/partials/carousel-item}}
    {{/app/partials/carousel}}
    <div class="container pt-sm-5">
      <div class="row justify-content-center">
        <div class="col-sm col-sm-8">
          <h1 class="display-3">Hello World!</h1>
          <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm col-sm-8">
          <div class="app-input-group">
            <input id="my-input-with-float-label" class="float-label form-control" type="email" spellcheck="false" placeholder="hulk@grrrr.com">
            <label for="my-input-with-float-label">Email Address</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm col-sm-8">
          <div class="display-3 d-inline-block mt-3">
            Is it <i class="fa fa-beer text-warning" aria-hidden="true"></i> time?
            <i id="confirm-beer" class="fa" aira-hidden="true"></i>
            <div id="time-container"></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm col-sm-8">
          <h3 class="font-weight-light d-inline-block mt-4">
            Here's some code I found on the server! Be careful not to actually run it though.
          </h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm col-sm-8">
          <div class="malicious-container"></div>
        </div>
      </div>
    </div>
  {{/inline}}
  {{#*inline "more-scripts"}}
    <script type="text/javascript">App.Presenters.Home();</script>
  {{/inline}}
{{/layouts/default}}
