{{#> layouts/default}}
  {{#*inline "content"}}
    <div class="container pt-sm-5">
      <div class="row justify-content-center">
        <div class="col-sm col-sm-8">
          <h1 class="display-3">Hello World!</h1>
          <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm col-sm-8">
          <div class="app-input-group">
            <input id="my-email-input" class="float-label form-control" type="email">
            <label for="my-email-input">Enter email</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-sm col-sm-4">
          <div class="app-input-group">
            <input id="my-first-name-input" class="float-label form-control" type="name">
            <label for="my-first-name-input">First name</label>
          </div>
        </div>
        <div class="col-sm col-sm-4">
          <div class="app-input-group">
            <input id="my-last-name-input" class="float-label form-control" type="name">
            <label for="my-last-name-input">Last name</label>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
  {{#*inline "more-scripts"}}
  {{/inline}}
{{/layouts/default}}
