<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/resources/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles.css">

    <title>App</title>
  </head>
  <body>
    {{> header}}
    <div id="app">
      {{> content}}
    </div>
    {{> footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/resources/handlebars/dist/handlebars.min.js"></script>
    <script type="text/javascript" src="/resources/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="/resources/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/assets/templates.js"></script>
    <script type="text/javascript" src="/assets/app.js"></script>
    {{> more-scripts}}
  </body>
</html>
