<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="A simple webapp to demo some neat UI features.">

    <!-- manifest -->
    <link rel="manifest" href="/manifest.json" type="application/manifest+json" charset="utf-8">

    {{> layouts/core-css}}
    {{includeCssBundle bundleName="styles"}}

    <title>App</title>
  </head>
  <body>
    {{> layouts/header}}
    <div id="app">
      {{> content}}
    </div>
    {{> layouts/footer}}

    {{> layouts/core-js}}
    {{includeJsBundle bundleName="app"}}
    {{> more-scripts}}
  </body>
</html>
