// ==========================================================================
// Icon Font Face
// ==========================================================================
@font-face {
  font-family: 'AppIcons';
  src: url(../assets/fonts/AppIcons.eot?#iefix) format('No-IE-404'), url(../assets/fonts/AppIcons.woff) format('woff'), url(../assets/fonts/AppIcons.ttf) format('truetype'), url(../assets/fonts/AppIcons.svg#AppIcons) format('svg');
  font-weight: normal;
  font-style: normal;
}

// ==========================================================================
// Icon Core
// ==========================================================================
.iconCore() {
  font-family: 'AppIcons';
  display: inline-block;
  position: relative;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  speak: none;
}

// Basic setup of icons
.icon {
  display: inline-block;
  position: relative;
  font-style: normal;

  // Hide alternative content
  .alt {
    display: inline-block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    text-indent: -999em;
  }

  // Generated content for icons
  &:after, &:before {
    .iconCore();
  }
}

// ==========================================================================
// Icons
// ==========================================================================

// User
.icon-user:before {
  content: "\e019"
}

.icon-useralt:before {
  content: "\e018"
}

// Traveler
.icon-traveler:before {
  content: "\e011"
}

.icon-traveleralt:before {
  content: "\e010"
}

// Add traveler
.icon-add-traveler:before {
  content: "\e017"
}

.icon-add-traveleralt:before {
  content: "\e016"
}

// Travelers
.icon-travelers:before {
  content: "\e013"
}

.icon-travelersalt:before {
  content: "\e012"
}

// Group
.icon-group:before {
  content: "\e015";
}

.icon-groupalt:before {
  content: "\e014";
}

// Time
.icon-time:before {
  content: "\e027"
}

// Help
.icon-help:before {
  content: "\e05a"
}

.icon-helpalt:before {
  content: "\e059"
}

// Location
.icon-location:before {
  content: "\e023"
}

.icon-locationalt:before {
  content: "\e022"
}

// Destination
.icon-destination:before {
  content: "\e056"
}

.icon-destinationalt:before {
  content: "\e055"
}

// Phone
.icon-phone:before {
  content: "\e021"
}

.icon-phonealt:before {
  content: "\e020"
}

// Mail
.icon-mail:before {
  content: "\e02f"
}

.icon-mailalt:before {
  content: "\e02e"
}

// List
.icon-list:before {
  content: "\e0b3"
}

// Auth
.icon-auth:before {
  content: "\e0b9"
}

.icon-authalt:before {
  content: "\e0b8"
}

// Info
.icon-info:before {
  content: "\e05c"
}

.icon-infoalt:before {
  content: "\e05b"
}

// Hotels
.icon-hotels:before {
  content: "\e003"
}

.icon-hotelsalt:before {
  content: "\e002"
}

// Settings
.icon-settings:before {
  content: "\e01f"
}

.icon-settingsalt:before {
  content: "\e01e"
}

// Success
// .icon-successalt is created for default alert icon settings
.icon-success:before,
.icon-successalt:before {
  content: "\e0aa"
}

// Mobile
.icon-mobile:before {
  content: "\e0c9"
}

.icon-mobilealt:before {
  content: "\e0c8"
}

// Cars
.icon-cars:before {
  content: "\e005"
}

.icon-carsalt:before {
  content: "\e004"
}

// Calendar
.icon-calendar:before {
  content: "\e800"
}

// Luggage
.icon-luggage:before {
  content: "\e075"
}

.icon-luggagealt:before {
  content: "\e074"
}

// Map
.icon-map:before {
  content: "\e80b"
}

.icon-mapalt:before {
  content: "\e0bc"
}

// Viewed
.icon-viewed:before {
  content: "\e064"
}

.icon-viewedalt:before {
  content: "\e063"
}

// Overnight
.icon-overnight:before {
  content: "\e02b"
}

.icon-overnightalt:before {
  content: "\e02a"
}

// Carets
.icon-caret0:before {
  content: "\e098";
}

.icon-caret90:before {
  content: "\e099"
}

.icon-caret180:before {
  content: "\e09a";
}

.icon-caret270:before {
  content: "\e09b";
}

// Arrows
.icon-arrow0:before {
  content: "\e08a";
}

.icon-arrow45:before {
  content: "\e08b";
}

.icon-arrow90:before {
  content: "\e08c"
}

.icon-arrow135:before {
  content: "\e08d";
}

.icon-arrow180:before {
  content: "\e08e";
}

.icon-arrow225:before {
  content: "\e08f";
}

.icon-arrow270:before {
  content: "\e090";
}

.icon-arrow315:before {
  content: "\e091";
}

// Arrows thin
.icon-arrow0-thin:before {
  content: "\e09c";
}

.icon-arrow45-thin:before {
  content: "\e09d";
}

.icon-arrow90-thin:before {
  content: "\e09e"
}

.icon-arrow135-thin:before {
  content: "\e09f";
}

.icon-arrow180-thin:before {
  content: "\e0a0";
}

.icon-arrow225-thin:before {
  content: "\e0a1";
}

.icon-arrow270-thin:before {
  content: "\e0a2";
}

.icon-arrow315-thin:before {
  content: "\e0a3";
}

// Walk
.icon-walk:before {
  content: "\e0b7"
}

.icon-walkalt:before {
  content: "\e0b6"
}

// Sun
.icon-sun:before {
  content: "\e029"
}

.icon-sunalt:before {
  content: "\e028"
}

// Warning
// .icon-error and .icon-erroralt is created for default alert icon settings
.icon-warn:before,
.icon-error:before {
  content: "\e058"
}

.icon-warnalt:before,
.icon-erroralt:before {
  content: "\e057"
}

// Flights
.icon-flights:before,
.icon-flights45:before {
  content: "\e001"
}

.icon-flights0:before {
  content: "\e00f"
}

.icon-flights90:before {
  content: "\e00d"
}

.icon-flightsalt:before,
.icon-flightsalt45:before {
  content: "\e000"
}

.icon-flightsalt0:before {
  content: "\e00e"
}

.icon-flightsalt90:before {
  content: "\e00c"
}

// Expand
.icon-expand:before {
  content: "\e097";
  transition: all 0.5s;
}

.icon-expand-thin:before {
  content: "\e0a9";
  transition: all 0.5s;
}

// Collapse
.icon-collapse:before {
  content: "\e096";
}

.icon-collapse-thin:before {
  content: "\e0a8";
}

// Close
.icon-close:before,
.icon-close-thin:before {
  content: "\e0ab"
}

// Print
.icon-print:before {
  content: "\e066"
}

.icon-printalt:before {
  content: "\e065"
}

// Popup
.icon-popup:before {
  content: "\e06a"
}

.icon-popupalt:before {
  content: "\e069"
}

// Toggles
.icon-toggle0:before {
  content: "\e092";
}

.icon-toggle90:before {
  content: "\e093";
}

.icon-toggle180:before {
  content: "\e094";
}

.icon-toggle270:before {
  content: "\e095";
}

// Toggles thin
.icon-toggle0-thin:before {
  content: "\e0a4";
}

.icon-toggle90-thin:before {
  content: "\e0a5";
}

.icon-toggle180-thin:before {
  content: "\e0a6";
}

.icon-toggle270-thin:before {
  content: "\e0a7";
}

// Seat
.icon-seat:before,
.icon-seatalt:before {
  content: "\e071"
}

// Train
.icon-train:before {
  content: "\e007"
}

.icon-trainalt:before {
  content: "\e006"
}

// Shield
.icon-shield:before {
  content: "\e0c3"
}

.icon-shieldalt:before {
  content: "\e0c2"
}

// Offcanvas
.icon-offcanvas:before {
  content: "\e0b2"
}

// Subtract
.icon-subtract:before {
  content: "\e0ad"
}

// Add
.icon-add:before {
  content: "\e0ac"
}

// Trend
.icon-trend:before {
  content: "\e06e"
}

.icon-trendalt:before {
  content: "\e06d"
}

// Line graph
.icon-line-graph:before {
  content: "\e070"
}

.icon-line-graphalt:before {
  content: "\e06f"
}

// Pie chart
.icon-pie-chart:before {
  content: "\e06c"
}

.icon-pie-chartalt:before {
  content: "\e06b"
}

// Gridview
.icon-gridview:before {
  content: "\e060"
}

.icon-gridviewalt:before {
  content: "\e05f"
}

// Wifi
.icon-wifi:before {
  content: "\e072";
}

.icon-partial-wifi:before {
  content: "\e073";
}

// Accessible
.icon-accessible:before {
  content: "\e089";
}

.icon-accessiblealt:before {
  content: "\e088";
}

// No image
.icon-noimage:before {
  content: "\e033";
}

.icon-noimagealt:before {
  content: "\e032";
}

// Image gallery
.icon-image-gallery:before {
  content: "\e035";
}

.icon-image-galleryalt:before {
  content: "\e034";
}

// Activities
.icon-activities:before {
  content: "\e0bf";
}

.icon-activitiesalt:before {
  content: "\e0be";
}

// Search
.icon-search:before {
  content: "\e01d";
}

.icon-searchalt:before {
  content: "\e01c";
}

// Comment
.icon-comment:before {
  content: "\e031";
}

.icon-commentalt:before {
  content: "\e030";
}

// Snowflake
.icon-snowflake:before {
  content: "\e079";
}

.icon-snowflakealt:before {
  content: "\e078";
}

// Credit card
.icon-credit-card:before {
  content: "\e03b";
}

.icon-credit-cardalt:before {
  content: "\e03a";
}

// Tag
.icon-tag:before {
  content: "\e600";
}

.icon-tagalt:before {
  content: "\e601";
}

// Lock
.icon-lock:before {
  content: "\e0bb";
}

.icon-lockalt:before {
  content: "\e0ba";
}

// Bed
.icon-bed:before,
.icon-bed-alt-filled:before {
  content: "\e605";
}

// Egencia bird
.icon-egencia-bird:before {
  content: "\e044";
}

.icon-egencia-birdalt:before {
  content: "\e043";
}

// Filter
.icon-filter:before {
  content: "\e037";
}

.icon-filteralt:before {
  content: "\e036";
}

// Hearts
.icon-heart:before {
  content: "\e04c"
}

.icon-heartalt:before {
  content: "\e04b"
}

// Stars
.icon-star:before {
  content: "\e04d";
}

.icon-half-star:before {
  content: "\e04e";
}

.icon-empty-star:before {
  content: "\e04f";
}

// Circles
.icon-circle:before {
  content: "\e052";
}

.icon-half-circle:before {
  content: "\e051";
}

.icon-empty-circle:before {
  content: "\e050";
}

// Home
.icon-home:before {
  content: "\e01b";
}

.icon-homealt:before {
  content: "\e01a";
}

// Computer
.icon-computer:before {
  content: "\e0c7";
}

.icon-computeralt:before {
  content: "\e0c6";
}

// Cart
.icon-cart:before {
  content: "\e038";
}

// Coffee
.icon-coffee:before {
  content: "\e07d";
}

.icon-coffeealt:before {
  content: "\e07c";
}

// Flag
.icon-flag:before {
  content: "\e042";
}

.icon-flagalt:before {
  content: "\e041";
}

// Bookmark
.icon-bookmark:before {
  content: "\e054";
}

.icon-bookmarkalt:before {
  content: "\e053";
}

// Share
.icon-share:before {
  content: "\e068";
}

.icon-sharealt:before {
  content: "\e067";
}

// Award
.icon-award:before {
  content: "\e0c1";
}

.icon-awardalt:before {
  content: "\e0c0";
}

// Dining
.icon-dining:before {
  content: "\e081";
}

.icon-diningalt:before {
  content: "\e080";
}

// Global
.icon-global:before {
  content: "\e048";
}

.icon-globalalt:before {
  content: "\e047";
}

// Wine
.icon-wine:before {
  content: "\e083";
}

.icon-winealt:before {
  content: "\e082";
}

// Croissant
.icon-croissant:before {
  content: "\e07f";
}

.icon-croissantalt:before {
  content: "\e07e";
}

// Parking
.icon-parking:before {
  content: "\e07b";
}

.icon-parkingalt:before {
  content: "\e07a";
}

// Bell
.icon-bell:before {
  content: "\e02d";
}

.icon-bellalt:before {
  content: "\e02c";
}

// Pool
.icon-pool:before {
  content: "\e085";
}

.icon-poolalt:before {
  content: "\e084";
}

// Gym
.icon-gym:before {
  content: "\e087";
}

.icon-gymalt:before {
  content: "\e086";
}

// Lights
.icon-lights:before {
  content: "\e0c5";
}

.icon-lightsalt:before {
  content: "\e0c4";
}

// Headset
.icon-headset:before {
  content: "\e040";
}

// Ellipsis
.icon-ellipsis:before {
  content: "\e0b4";
}

// Ticket
.icon-ticket:before {
  content: "\e03d";
}

.icon-ticketalt:before {
  content: "\e03c";
}

// Tickets
.icon-tickets:before {
  content: "\e03f";
}

.icon-ticketsalt:before {
  content: "\e03e";
}

// Bus
.icon-bus:before {
  content: "\e00b";
}

.icon-busalt:before {
  content: "\e00a";
}

// Refundable
.icon-refundable:before {
  content: "\e0b0";
}

.icon-non-refundable:before {
  content: "\e0b1";
}

// Briefcase
.icon-briefcase:before {
  content: "\e80a"
}

.icon-briefcase-filled:before, // Deprecated
.icon-briefcasealt:before {
  content: "\e045"
}

// Taxi
.icon-taxi:before {
  content: "\e009"
}

.icon-taxialt:before {
  content: "\e008"
}

// Refresh
.icon-refresh:before {
  content: "\e807"
}

// Cabin
.icon-cabin:before {
  content: "\e804"
}

// Bicycle
.icon-bicycle:before {
  content: "\e806"
}

// Lounge
.icon-lounge:before {
  content: "\e808"
}

// Service dog
.icon-service-dog:before {
  content: "\e602"
}

.icon-service-dogalt:before {
  content: "\e603"
}

// Trolley
.icon-trolley:before {
  content: "\e604"
}

// Plug
.icon-plug:before {
  content: "\e802"
}

// Entertainment
.icon-entertainment:before {
  content: "\e801"
}

// Handshake
.icon-handshake:before {
  content: "\e805"
}

// Thumbs up
.icon-thumbsup:before {
  content: "\e04a"
}

.icon-thumbsupalt:before {
  content: "\e049"
}

// Files
.icon-file:before {
  content: "\e05d"
}

.icon-files:before {
  content: "\e05e"
}

// Copy
.icon-copy:before {
  content: "\e062"
}

.icon-copyalt:before {
  content: "\e061"
}

// Edit
.icon-edit:before {
  content: "\e803"
}

// Transmission
.icon-transmission:before {
  content: "\e077"
}

.icon-transmissionalt:before {
  content: "\e076"
}

// Angled arrow
.icon-angled-arrow-right:before {
  content: "\e0ae"
}

.icon-angled-arrow-left:before {
  content: "\e0af"
}

// Circle filled (primarily used as background for stacking)
.icon-circle-filled:before {
  content: "\e0ca";
}

.icon-enlarge:before {
  content: "\e900";
}

.icon-shrink:before {
  content: "\e901";
}

//Trash
.icon-trash:before {
  content: "\e90a";
}

//Download
.icon-download:before {
  content: "\e909";
}

//Upload
.icon-upload:before {
  content: "\e908";
}

//In progress
.icon-in-progress:before {
  content: "\e906";
}
