<div class="app-input-group {{#if icon}}app-input-icon{{/if}}">
  {{> @partial-block}}
  {{#if icon}}<i class="icon fa fa-{{icon}}"></i>{{/if}}
  {{#if label}}<label for="{{for}}">{{label}}</label>{{/if}}
</div>
